/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #BEDCFE;
}

.header img {
    width: 20%;
    margin-bottom: 20px;
}

.header img:hover {
    cursor: pointer;
}

.header button {
    background-color: #BEDCFE;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 5px 10px;
    font-size: x-large;
    margin: 20px;
    font-family: 'Cabin';
}

.header button:hover {
    border-color: black;
} */