@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.road-safety-container {
    display: flex;
    min-height: 100vh;
    font-family: 'Cabin';
}

.road-safety-sidebar {
    flex: 0 0 300px; 
    background-color: #0085FF;
    padding: 30px;
    min-height: 100vh; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    color: white;
}

.road-safety-sidebar h1, .road-safety-sidebar ul li {
    margin-top: 0;
    color: white;
}
.road-safety-sidebar h1{
    padding: 10px;
    font-size: large;
}
.road-safety-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.road-safety-sidebar ul li {
    padding: 10px;
    cursor: pointer;
    font-size: small;
}

.road-safety-sidebar ul li:hover, .road-safety-sidebar ul li.active {
    background-color: #1C5D99;
}

.content {
    flex-grow: 1;
    padding: 50px;
    overflow: hidden; 
    width: 0; 
}

.myths-slider .myth {
    background-color: #007bff;
    border-radius: 100%;
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    overflow: hidden;
}

.myth:hover {
    background-color: #0056b3;
}

.myth.busted, .myth.confirmed {
    width: 220px;
    height: 220px;
    font-size: x-large;
}

.myth.busted {
    background-color: #dc3545;
}

.myth.confirmed {
    background-color: #28a745;
}

.progress-container {
    width: 100%;
    background-color: #ddd;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50;
    color: white;
}

.myth-counter {
    text-align: center;
    margin-top: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Cabin';
    margin: 0 80px;
    font-size: large;
}

.navigation-buttons button:hover {
    background-color: darkgreen;
}

.myth-description {
    margin-top: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-size: 30px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 

}
.welcome-overlay {
    position: fixed;
    top: 15%;
    left: 20%;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: scale(1.25);
}

.welcome-message-road {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome-message-road h2 {
    margin-bottom: 20px;
}

.welcome-message-road p {
    margin-bottom: 20px;
}

.welcome-message-road button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.blur-effect {
    filter: blur(8px);
}

