.signs-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
  }
  
  .card {
    cursor: pointer;
    width: 300px; 
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .card-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }
  .card-content, .card-image {
    width: 60%;
    height: 70%;
    object-fit: scale-down;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
  }
  
  .navigation-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .traffic-instructions {
    text-align: center;
    margin: 10px 0;
    font-style: italic;
}
